USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 2019-07-24 10:48:43 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Users\Viktoria Strandberg\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Users\Viktoria Strandberg\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[Bild]    Script Date: 2019-07-24 10:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bild](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [varchar](50) NULL,
 CONSTRAINT [PK_Bild] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 2019-07-24 10:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namn] [varchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtyp]    Script Date: 2019-07-24 10:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtyp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypId] [int] NULL,
	[Namn] [varchar](50) NULL,
 CONSTRAINT [PK_Subtyp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Typ]    Script Date: 2019-07-24 10:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Typ](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namn] [varchar](50) NULL,
 CONSTRAINT [PK_Typ] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vara]    Script Date: 2019-07-24 10:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vara](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubTypId] [int] NULL,
	[Pris] [int] NULL,
	[Beskrivning] [varchar](50) NULL,
	[BildId] [int] NULL,
	[DatumInköpt] [date] NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK_Vara] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Namn]) VALUES (1, N'Såld')
INSERT [dbo].[Status] ([Id], [Namn]) VALUES (2, N'Ska säljas')
INSERT [dbo].[Status] ([Id], [Namn]) VALUES (3, N'Säljes')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Subtyp] ON 

INSERT [dbo].[Subtyp] ([Id], [TypId], [Namn]) VALUES (1, 1, N'Strumpor')
INSERT [dbo].[Subtyp] ([Id], [TypId], [Namn]) VALUES (2, 1, N'Skor')
INSERT [dbo].[Subtyp] ([Id], [TypId], [Namn]) VALUES (3, 2, N'TV')
SET IDENTITY_INSERT [dbo].[Subtyp] OFF
SET IDENTITY_INSERT [dbo].[Typ] ON 

INSERT [dbo].[Typ] ([Id], [Namn]) VALUES (1, N'Kläder')
INSERT [dbo].[Typ] ([Id], [Namn]) VALUES (2, N'Hemelektronik')
INSERT [dbo].[Typ] ([Id], [Namn]) VALUES (3, N'Inredning')
SET IDENTITY_INSERT [dbo].[Typ] OFF
ALTER TABLE [dbo].[Subtyp]  WITH CHECK ADD  CONSTRAINT [FK_Subtyp_Typ] FOREIGN KEY([TypId])
REFERENCES [dbo].[Typ] ([Id])
GO
ALTER TABLE [dbo].[Subtyp] CHECK CONSTRAINT [FK_Subtyp_Typ]
GO
ALTER TABLE [dbo].[Vara]  WITH CHECK ADD  CONSTRAINT [FK_Vara_Bild] FOREIGN KEY([BildId])
REFERENCES [dbo].[Bild] ([Id])
GO
ALTER TABLE [dbo].[Vara] CHECK CONSTRAINT [FK_Vara_Bild]
GO
ALTER TABLE [dbo].[Vara]  WITH CHECK ADD  CONSTRAINT [FK_Vara_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Vara] CHECK CONSTRAINT [FK_Vara_Status]
GO
ALTER TABLE [dbo].[Vara]  WITH CHECK ADD  CONSTRAINT [FK_Vara_Subtyp] FOREIGN KEY([SubTypId])
REFERENCES [dbo].[Subtyp] ([Id])
GO
ALTER TABLE [dbo].[Vara] CHECK CONSTRAINT [FK_Vara_Subtyp]
GO
USE [master]
GO
